:root {
    --highlight-theme: #FFFFFA;
    --opaque-content-back: rgba(10, 10, 10, .5);
    --font-family-theme: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reactive-image{
    background-size: cover;
    background-position: center;
}

.hover-toggle:hover {
    background-position: center;
    border: 3px ridge var(--highlight-theme);
}

:hover::after {
    position: relative;
    color: var(--highlight-theme);
    font-size: large;
    font-family: var(--font-family-theme);
    top: 50%;
    background-color: var(--opaque-content-back);
    padding: 1%;
    border-radius: 5%;
}



.horiseon {
    background-image: url(../images/horiseon-png.png);
}

.horiseon:hover {
    background-image: url(../images/horiseon-gif.gif);
}

.horiseon-content:hover::after {
    content: "Horiseon Webpage";
}



.metapets {
    background-image: url(../images/metapets-png.png);
}

.metapets:hover {
    background-image: url(../images/metapets-gif.gif);
}

.metapets-content:hover::after {
    content: "MetaPets Webpage";
}



.aboutme {
    background-image: url(../images/aboutme-png.png);
}

.aboutme:hover {
    background-image: url(../images/aboutme-gif.gif);
}

.aboutme-content:hover::after {
    content: "About Me Webpage";
}



.placeholder {
    background-image: url(https://via.placeholder.com/600x400);
}