.reactive-image{
    background-size: cover;
    background-position: center;
}

.hover-toggle:hover {
    background-position: center;
    border: 3px ridge #FFFFFA;
}

.portfolio-page {
    background-image: url(../images/horiseon-png.png);
}

.portfolio-page:hover {
    background-image: url(../images/horiseon-gif.gif);

}

.horiseon {
    background-image: url(../images/horiseon-png.png);

}

.horiseon:hover {
    background-image: url(../images/horiseon-gif.gif);

}

.metapets {
    background-image: url(../images/metapets-png.png);

}

.metapets:hover {
    background-image: url(../images/metapets-gif.gif);

}

.aboutme {
    background-image: url(../images/aboutme-png.png);

}

.aboutme:hover {
    background-image: url(../images/aboutme-gif.gif);

}

.dummy {
    background-image: url();

}

.dummy:hover {
    background-image: url();

}

.dummy {
    background-image: url();

}

.dummy:hover {
    background-image: url();

}

.dummy {
    background-image: url();

}

.dummy:hover {
    background-image: url();

}

.placeholder {
    background-image: url(https://via.placeholder.com/600x400);
}